<p>You could earn an average of $<%= @result[:airbnb_income] %> per month with Airbnb.</p>
<p>You could earn $<%= @result[:delta] %> (<%= @result[:percentage] %>%) <%= more_or_less(@result[:profitable]) %> than long term rent.</p>
<p>It <%= profitable_or_not(@result[:profitable]) %> profitable to do Airbnb.</p>

<%= link_to 'Go back to the calculator', new_calculator_path, data: { turbolinks: false } %>