<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb Calculator</title>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqXbZ2M_CUfAONRixVAQA9YLgNqy0RzYY&libraries=places&callback=initAutocomplete" async defer></script>
  </head>

  <body>
    <%= render 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
